body {
    background-color: #f0f0f0; /* Light gray background */
    background-image: url('/assets/colored_bg.png');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}

